.icon,
.enemy-icon {
    --size: 100px;
    width: var(--size);
    height: var(--size);
    display: inline-block;
    position: relative;

    .tile-icon & {
        --size: 100%;
    }

    //sizes
    &.inline {
        --size: 1.4rem;
        margin-right: 5px;

        svg,
        img {
            top: -1px;
            vertical-align: middle;
        }
    }

    &.tiny {
        --size: 1.2rem;
    }

    &.xsmall {
        --size: 30px;
    }

    &.small {
        --size: 50px;
    }

    &.medium {
        --size: 75px;
    }

    &.large {
        --size: 150px;
    }

    &.huge {
        --size: 200px;
    }
}

.enemy-icon {
    width: auto;
    pointer-events: none;
    user-select: none;

    img {
        height: var(--size);
        width: auto;
    }
}

.icon,
.icontext {
    --color: #FFF;

    &:not([data-icon="UISalvage"]):not([data-icon="UIVoidMatter"]) {
        fill: var(--color);
        flood-color: var(--color);
        stroke: var(--color);
    }

    svg {
        width: var(--size);
        height: var(--size);
        position: relative;
    }

    &:not(.no-background):not([data-icon="UISalvage"]):not([data-icon="UIVoidMatter"]):not(.alien-synth) svg {
        background: #000;
    }

    &:not([data-icon="UISalvage"]):not([data-icon="UIVoidMatter"]) svg:not(.specimen-icon)>path {
        stroke: transparent;
    }

    &:not([data-icon="UISalvage"]):not([data-icon="UIVoidMatter"]) svg:not(.specimen-icon) g path,
    &:not([data-icon="UISalvage"]):not([data-icon="UIVoidMatter"]) svg:not(.specimen-icon) g text {
        fill: #FFF;
        fill: inherit;
    }

    &:not([data-icon="UISalvage"]):not([data-icon="UIVoidMatter"]) svg:not(.specimen-icon) g circle[stroke="#fff"] {
        stroke: #FFF;
        stroke: inherit;
    }

    &:not([data-icon="UISalvage"]):not([data-icon="UIVoidMatter"]) svg:not(.specimen-icon) * {
        flood-color: inherit;
    }

    &.no-background svg:not(.specimen-icon)>path {
        fill: transparent;
    }

    // classes
    &.core-icon {
        --color: #EE1C51;
    }

    &.icon-ui {
        --color: var(--color-primary);
    }

    &.base-icon {
        --color: #000;

        &.mats svg>path {
            fill: #5DD82B;
        }

        &.parts svg>path {
            fill: #FCF400;
        }

        &.comps svg>path {
            fill: #EE2E2E;
        }

        &.booster svg>path {
            fill: #4EECF2;
        }

        &.double-booster svg>path {
            fill: #3F46F6;
        }

        &.drain-reducer svg>path {
            fill: #E541F7;
        }

        &.mats-booster svg>path {
            fill: #53F3A7;
        }

        &.parts-booster svg>path {
            fill: #FFF390;
        }

        &.comps-booster svg>path {
            fill: #FF6363;
        }

        &.double-booster svg circle:first-of-type {
            display: none;
        }
    }

    &[class*="shard-tier-"],
    &[class*="synth-tier-"] {
        --color: var(--color);
    }

    &.shard-tier-1 {
        --color: #AAA7A4;
    }

    &.shard-tier-2 {
        --color: #0DA707;
    }

    &.shard-tier-3 {
        --color: #0D39A4;
    }

    &.shard-tier-4 {
        --color: #6B0A75;
    }

    &.shard-tier-5 {
        --color: #7B4907;
    }

    &.shard-tier-6 {
        --color: #780A25;
    }

    &.shard-tier-7 {
        --color: #0D78A4;
    }

    &.shard-tier-8 {
        --color: #788275;
    }

    &.shard-tier-9 {
        --color: #909611;
    }

    &.shard-tier-10 {
        --color: #AD3A3A;
    }

    &.shard-tier-11 {
        --color: #9BCF90;
    }

    &.shard-tier-12 {
        --color: #FF00FF;
    }

    &.synth-tier-1 {
        --color: #FFF;
    }

    &.synth-tier-2 {
        --color: #0F0;
    }

    &.synth-tier-3 {
        --color: #004CFF;
    }

    &.synth-tier-4 {
        --color: #9900B2;
    }

    &.synth-tier-5 {
        --color: #B26600;
    }

    &.synth-tier-6 {
        --color: #AD0030;
    }

    &.synth-tier-7 {
        --color: #00B2FF;
    }

    &.synth-tier-8 {
        --color: #788275;
    }

    &.synth-tier-9 {
        --color: #D6E019;
    }

    &.synth-tier-10 {
        --color: #E54C4C;
    }

    &.synth-tier-11 {
        --color: #bfffb2;
    }

    &.synth-tier-12 {
        --color: #ff00ff;
    }

    &.synth-tier-13 {
        --color: #00ffcc;
    }

    &.synth-tier-14 {
        --color: #FFC500;
    }

    &.synth-tier-15 {
        --color: #376B37;
    }

    &.synth-tier-16 {
        --color: #163975;
    }

    &.synth-tier-17 {
        --color: #38154D;
    }

    &.module {
        --color: #33d2e0;
    }

    &:not([data-icon="UISalvage"]):not([data-icon="UIVoidMatter"]) svg:not(.specimen-icon) g path {
        transition: fill 150ms;
    }

    &.inline[data-icon="UISalvage"] {
        --size: 1.1rem;
    }

    &[data-icon="Secret"] text {
        stroke: none;
    }

    &.shard-key {
        --color: #AAA7A4;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: var(--size);
            height: var(--size);
            background-size: var(--size);
            background-image: url("data:image/svg+xml;utf8,<svg class='Icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><g class='' transform='translate(127,127)' style=''><g><circle cx='128' cy='128' r='128' fill='%23000000' fill-opacity='1'></circle><circle stroke='%23fff' stroke-opacity='1' fill='%23000000' fill-opacity='1' stroke-width='18' cx='128' cy='128' r='101'></circle><path fill='%23fff' fill-opacity='1' d='M128 55c-9.118 0-17.148 1.724-23.621 6.203-6.473 4.479-10.598 11.358-12.98 19.092-3.278 10.638-4.112 23.58-4.323 39.705H76v68h104v-68h-11.078c-.214-16.037-1.051-28.954-4.318-39.588-2.38-7.746-6.49-14.642-12.958-19.15C145.18 56.754 137.132 55 128 55zm0 18c6.868 0 10.821 1.264 13.354 3.03 2.532 1.764 4.423 4.395 6.042 9.667 2.212 7.2 3.07 18.826 3.4 34.303h-45.595c.33-15.57 1.188-27.224 3.4-34.404 1.618-5.248 3.493-7.842 6.02-9.59C117.148 74.257 121.118 73 128 73zm0 60.191c6.503 0 11.775 5.273 11.775 11.776a11.775 11.775 0 0 1-6.025 10.262l6.025 19.58h-23.55l6.023-19.573a11.776 11.776 0 0 1-6.023-10.27c0-6.502 5.272-11.774 11.775-11.775z'></path></g></g></svg>");
            z-index: 1;
        }
    }

    &.alien-synth {
        --color: #000;

        svg {
            background: #FFF;

            >path {
                fill: transparent;
            }
        }
    }
}

.icontext {
    color: var(--color);
}
