@use "citizen_skin.scss";
@use "icons.scss";

@use "partials/base-grid.scss";
@use "partials/button.scss";
@use "partials/core-table.scss";
@use "partials/credits.scss";
@use "partials/crew-milestones.scss";
@use "partials/flexbox.scss";
@use "partials/icon-showcase.scss";
@use "partials/icon-with-tooltip.scss";
@use "partials/info-box.scss";
@use "partials/label.scss";
@use "partials/loadout-box-slim.scss";
@use "partials/loadout-box.scss";
@use "partials/navbox.scss";
@use "partials/quote-block.scss";
@use "partials/quote-navigation.scss";
@use "partials/reinforce-milestone.scss";
@use "partials/research-table.scss";
@use "partials/save-button.scss";
@use "partials/shard-box.scss";
@use "partials/spoiler-block.scss";
@use "partials/steam-feed.scss";
@use "partials/tables.scss";
@use "partials/tabs.scss";

@use "tools/base-6-breakpoints.scss";

.sidebar:not(#sidebar-left) {
    display: none !important;
}

.toc {
    scrollbar-width: auto;
}

div#toc {
    bottom: auto;
    top: auto;
}

.rootpage-Main_Page #toc {
    display: none;
}

.sidebar#sidebar-left {
    z-index: 50;
    position: sticky;
}

pre {
    display: inline-block;
}

.catlinks {
    margin-top: 5rem;
}

.scrollable {
    overflow-x: auto;
}

// not sure what this is but its annoying
body #hf-nsfooter- {
    display: none;
}

li.tile-item:hover>a {
    background-color: transparent !important;
    color: #EE1C51;
}

li.tile-item>a {
    transition: color 150ms;
}

img.fullwidth {
    width: 90%;
    height: auto;
}

code + .copy-button {
    background-color: var(--color-primary);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
    color: #fff;
    cursor: pointer;
    padding: .4rem .7rem;
    transition: box-shadow .15s;
    user-select: none;
}

.copy-button.small {
    padding: 0.1rem 0.35rem;
    font-size: 0.8rem;
    display: inline-block;
    margin-left: 0.5rem;
}

@media screen and (max-width: 775px) {
    .Desktop-only {
        display: none;
    }
}

@media screen and (min-width: 776px) {
    .Mobile-only {
        display: none;
    }
}

.centered-wrapper {
    text-align: center;
}

.main-link {
    margin-left: 1rem;
    font-style: italic;
}

li.tile-item .tile-icon {
    background-color: transparent;
}

li.tile-item {
    border-radius: 6px;
    transition: color 150ms;
}

li.tile-item:hover {
    background-color: #FFFFFF0F;
}

.game-vault-card-body-title a::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.game-vault-card {
    position: relative;
}

ul.tile-icons {
    justify-content: center;
}

ul.tile-icons .tile-item.buffer:hover {
    background: transparent;
}

/* hide ad container if empty */
.vm-placement:empty {
    display: none;
}

.internal-link a::after {
    display: none !important;
}

.enemy-info-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#download-buttons {
    img {
        width: 200px;
    }
}

#game-banner-tagline {
    position: relative;

    &::after,
    &::before {
        content: "";
        height: 100%;
        position: absolute;
        background: black;
        width: 50px;
        top: 0;
    }

    &::after {
        right: 0;
        background: linear-gradient(to left, #131a20, transparent);
    }

    &::before {
        left: 0;
        background: linear-gradient(to right, #131a20, transparent);
    }
}
