.base-grid {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;

    :not(.base-grid-locked) .icon:not(.double-booster) svg>g {
        transform: scale(0.7) translate(calc(25% - 15px), calc(25% - 17px));
    }

    .base-grid-row {
        display: flex;
        margin-bottom: 5px;

        span {
            margin-right: 5px;
            flex-grow: 0;
            flex-shrink: 0;
            width: 50px;
            height: 50px;
            border: 2px solid transparent;

            &:not(.base-grid-gap) {
                border-color: #000;
                background-color: #000;
            }
        }

        .icon svg>g {
            transform: scale(0.7) translate(25%, 25%);

            &:has(circle) {
                transform: scale(0.7) translate(50%, 50%);
            }
        }
    }

    .base-grid-locked {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #1F1F1F !important;

        span {
            background-color: transparent !important;
            display: inline;
            height: 1rem;
            max-width: 50px;
            margin: 0;
            font-size: 0.8rem;
            text-align: center;
            border: none;

            &[data-icon="Materials"] {
                fill: #5dd72b;
                stroke: #5dd72b;
                flood-color: #5dd72b;
            }

            &[data-icon="Parts"] {
                fill: #fcf400;
                stroke: #fcf400;
                flood-color: #fcf400;
            }

            &:empty {
                display: none;
            }
        }

        .locked-amount {
            color: #00FC00;

            .icon {
                --size: 1rem;
                margin-right: 0;
                margin-left: 4px;
            }
        }
    }
}
