.core-table {
    display: flex;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    align-items: stretch;
    border: 5px solid #34EFF8;
    list-style: none;
    margin: 0 !important;
    padding: 0;
    display: inline-flex;

    & + & {
        border-top: none;
    }

    li {
        border-right: 3px solid #000;
        padding: 1rem 0 0;
    }

    .core-name {
        background-color: #232050;
        width: 200px;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        left: 0;
        min-width: 100px;
        z-index: 2;
        padding: 0 0.5rem;
        padding-top: 0 !important;

        strong {
            color: #34ECF6;
        }
    }

    .core-milestone {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: visible;
        background-color: #1FB1AB;
        transition: background-color 200ms;

        p {
            margin: 0.5rem 0 0;
        }

        .icon,
        .icon svg {
            width: 75px;
            height: 75px;
            transition: filter 200ms;

            @media screen and (max-width: 1050px) {
                width: 50px;
                height: 50px;
            }

            @media screen and (max-width: 775px) {
                width: 30px;
                height: 30px;
            }

            @media screen and (max-width: 575px) {
                width: 75px;
                height: 75px;
            }
        }

        .icon {
            margin: 0 5px;
        }
    }

    +p,
    +hr+p {
        margin: 0.3rem !important;
    }

    .core-upgrade {
        position: relative;
        cursor: pointer;
        width: 100%;
        text-align: center;

        &.core-upgrade-not-selected .icon {
            fill: #fff;
            stroke: #fff;
            flood-color: #fff;
        }

        .tooltip {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            transition: opacity 200ms ease, visibility 0s ease 200ms;
            z-index: 10;
            background-color: #2B2151;
            color: #34ECF6;
            border-radius: 1rem;
            padding: 0.5rem;
            text-align: center;
            bottom: calc(100% + 0.25rem);
            right: -10px;
            width: 15rem;
            user-select: none;
            cursor: pointer;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
            pointer-events: none;

            .title {
                display: block;
                font-weight: bold;
            }
        }

        &:hover:not(:has(.tooltip:hover)) .tooltip {
            visibility: visible;
            opacity: 1;
            transition: opacity 200ms ease, visibility 0s ease 0s;
        }
    }

    .core-upgrade-label {
        position: absolute;
        top: 0;
        font-weight: bold;
        color: #232050;
    }

    &:has(.core-upgrade:hover) .core-milestone .core-upgrade:not(:hover) svg {
        filter: brightness(0.5);
    }

    &:has(.core-upgrade:hover) .core-milestone {
        background-color: #006a66;
    }

    @media screen and (max-width: 575px) {
        flex-direction: column;

        &:not(.expanded) .core-milestone {
            display: none;
        }

        li {
            border-right: 0;
            border-bottom: 3px solid #000;
        }

        .core-name {
            width: 100%;
            box-sizing: border-box;

            &::after {
                content: '(click to expand upgrades)';
                margin: 1rem 0;
                color: #ddd;
            }
        }

        &.expanded .core-name::after {
            content: '(click to collapse upgrades)';
        }

        .core-milestone {
            flex-direction: row;
            justify-content: space-evenly;
        }

        .core-upgrade .tooltip {
            left: 0;
            right: auto;
        }

        .core-upgrade:last-of-type .tooltip {
            left: auto;
            right: 0;
        }

        .core-upgrade.core-single .tooltip {
            left: 50%;
            transform: translateX(-50%);
            right: auto;
        }
    }
}

