.icon-with-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;

    &:hover:not(:has(.tooltip:hover)) .tooltip {
        visibility: visible;
        opacity: 1;
        transition: opacity 200ms ease, visibility 0s ease 0s;
    }

    .tooltip {
        position: absolute;
        left: 100%;
        margin-left: 10px;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: opacity 200ms ease, visibility 0s ease 200ms;
        background-color: #2B2151;
        color: #34ECF6;
        border-radius: 1rem;
        padding: 0.5rem;
        text-align: center;
        bottom: 50%;
        transform: translateY(50%);
        width: 15rem;
        user-select: none;
        cursor: pointer;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        pointer-events: none;
        z-index: 1000;

        strong {
            display: block;
        }
    }
}
