.navbox-table {
    text-align: center;
    margin: 2em 0;
    margin-top: 2rem !important;
    width: 100%;
    border: 2px solid #34EFF8;
    border-spacing: 0;

    tr:first-of-type {
        background-color: #232050;
        color: #34ECF6;
        padding: 0.25rem;
    }

    th, td {
        border-bottom: 2px solid #000;
        padding: 5px 15px;
    }
}

.navbox-heading {
    background: #4F4977;
    color: #36E5F0;
}
