.quicklinks {
    background: rgba(92, 133, 214, 0.3);
    padding: 2rem 2rem;
    box-sizing: border-box;
    flex-shrink: 0;

    p {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;
        height: 100%;
        margin: 0;
        font-size: 1.5rem;

        a:last-of-type {
            body.loggedin & {
                display: none;
            }
        }

        a:nth-last-of-type(2) {
            body:not(.loggedin) & {
                display: none;
            }
        }

        a {
            &::before {
                content: "🡢";
                vertical-align: middle;
                margin-right: 1rem;
            }
        }
    }
}

body:not(.loggedin) {
    #welcome-message {
        opacity: 0;
        pointer-events: none;
        font-size: 0rem;
    }
}

.quote-navigation {
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;

    .quote-block {
        margin-left: 0;
        font-size: 1.2rem;
        width: auto;
    }

    @media screen and (max-width: 830px) {
        flex-direction: column;
        padding-left: 0;

        .quote-block {
            width: 100%;
        }
    }
}
