.quicklinks {
    p {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1.5rem;
        height: 100%;
        margin: 0;
        font-size: 1.5rem;

        a:last-of-type {
            body.loggedin & {
                display: none;
            }
        }

        a:nth-last-of-type(2) {
            body:not(.loggedin) & {
                display: none;
            }
        }

        a {
            &::before {
                content: "🡢";
                vertical-align: middle;
                margin-right: 1rem;
            }
        }
    }
}

body:not(.loggedin) {
    #welcome-message {
        opacity: 0;
        pointer-events: none;
        font-size: 0rem;
    }
}

.quote-navigation {
    margin-bottom: 3rem;
    padding-left: 6rem;
}
