.quote-block {
    background-color: #2f284a;
    padding: 2rem 4rem;
    display: inline-block;
    width: calc(70% - 6rem);
    margin-left: 6rem;
    box-sizing: border-box;
    position: relative;
    font-style: italic;

    @media screen and (max-width: 830px) {
        width: calc(85% - 6rem);
    }

    @media screen and (max-width: 500px) {
        width: 100%;
        margin-left: 0;
    }

    &::before {
        content: '';
        position: absolute;
        left: -1.5rem;
        top: 3rem;
        --size: 4.5rem;
        width: var(--size);
        height: var(--size);
        background-size: var(--size);
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 100 125' enable-background='new 0 0 100 100' xml:space='preserve'><g><g><path fill='%23EE1C51' d='M57.334,54.422c-1.1,0-2-0.9-2-2V16.421c0-1.1,0.9-2,2-2h36c1.1,0,2,0.9,2,2v36.001    c0,1.1-0.46,2.773-1.021,3.719L77.836,83.859c-0.562,0.945-1.921,1.678-3.02,1.627l-9.645-0.441    c-1.099-0.051-1.793-0.968-1.543-2.039l6.223-26.639c0.25-1.071-0.445-1.947-1.545-1.947L57.334,54.422z'/></g><g><path fill='%23EE1C51' d='M6.666,54.422c-1.1,0-2-0.9-2-2V16.421c0-1.1,0.9-2,2-2h36c1.1,0,2,0.9,2,2v36.001    c0,1.1-0.46,2.773-1.022,3.72L27.169,83.859c-0.562,0.946-1.921,1.679-3.02,1.628l-9.645-0.441    c-1.099-0.051-1.793-0.968-1.543-2.039l6.223-26.64c0.25-1.071-0.445-1.947-1.545-1.947L6.666,54.422z'/></g></g></svg>");
    }
}
