#wpSaveWidget {
    position: relative;

    &::before {
        content: "Thanks for contributing! ❤️\A Don't share this redeemable in-game code around:\A underpaideditor";
        white-space: pre-wrap;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: opacity 200ms ease, visibility 0s ease 200ms;
        z-index: 10;
        background-color: #2B2151;
        color: #34ECF6;
        border-radius: 1rem;
        padding: 0.5rem;
        text-align: center;
        top: calc(100% + 0.5rem);
        left: 0;
        width: 15rem;
        user-select: none;
        cursor: pointer;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        pointer-events: none;
    }

    &:hover::before {
        visibility: visible;
        opacity: 1;
        transition: opacity 200ms ease, visibility 0s ease 0s;
    }
}
