.steam-feed {
    background: rgba(92, 133, 214, 0.3);
    padding: 2rem 2rem;
    box-sizing: border-box;

    > mw-parser-output {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 830px) {
            flex-direction: column;
        }
    }

    .meta {
        font-size: 0.8rem;
        color: #888;
        display: flex;
        flex-direction: column;

        a {
            font-size: 1rem;

            &::after {
                display: none;
            }
        }
    }

    > h2 {
        margin-top: 0;
    }
}
