.steam-feed {
    background: rgba(92, 133, 214, 0.25);
    padding: 2rem 2rem;
    box-sizing: border-box;
    padding-right: 0;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;

    > .mw-parser-output {
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: 700px) {
            flex-direction: column;
        }
    }

    .rss-element {
        margin-right: 2.5rem;
    }

    .meta {
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.6);
        display: flex;
        flex-direction: column;
        white-space: nowrap;

        a {
            font-size: 1rem;

            &::after {
                display: none;
            }
        }
    }

    .citizen-body & > h2 {
        margin-top: 0;
    }

    .citizen-body & h3 {
        margin-top: 0.25rem;
    }
}
