.js-tabs .tab {
    box-shadow: inset 0 -2px 0 0 #54595d;
    color: var(--color-primary);
    display: inline-flex;
    align-items: center;
    padding: 0.5em 0.75em;
    color: #54595d;
    font-weight: bold;
    scroll-snap-align: start;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    flex-grow: 1;
    display: block;
    text-align: center;

    &:hover {
        box-shadow: inset 0 -2px 0 0 var(--color-primary--hover);
        color: var(--color-primary--hover);
    }
    
    &:active {
        box-shadow: inset 0 -2px 0 0 var(--color-primary--active);
        color: var(--color-primary--active)
    }
    
    .tab-header {
        display: flex;
        flex-wrap: wrap;
    }
    
    .tab-content {
        &>.stub {
            margin-top: 1rem;
        }

        &>div:first-child {
            margin-top: 1rem;
        }
    }

    .tab-content,
    .tab-content~p {
        display: none;
    }
}


.js-tabs .tab.active,
.js-tabs:not(:has(.active)) .tab:nth-child(1) {
    box-shadow: inset 0 -2px 0 0 var(--color-primary);
    color: var(--color-primary)
}

.js-tabs .tab-content.active,
.js-tabs:not(:has(.active)) .tab-content:nth-child(2) {
    display: block;
}
