#advisor-explorer {
    max-width: initial;
    align-items: center;

    p,
    #galaxy-select,
    #hazard-select {
        max-width: 600px;
    }

    #galaxy-select {
        display: flex;
        align-items: center;
        gap: 2rem;
        align-self: center;

        #galaxy-input {
            width: 145px;
            font-size: 1.2rem;
        }

        #stat-input {
            width: 80px;
            text-align: center;
            margin: 0 10px;
        }

        #battle-select {
            width: 65px;
            font-size: 1.2rem;

            option {
                color: #000;

                &.red {
                    background-color: #ff8787;
                }

                &.pink {
                    background-color: #ffbaff;
                }

                &.white {
                    background-color: #ffffff;
                }
            }
        }
    }

    #no-results {
        &.hidden {
            display: none;
        }
    }

    #results {
        flex-wrap: wrap;
        gap: 3rem;

        &:has(.advisor) {
            position: relative;
            margin-top: 2rem;

            &::before {
                content: "Found the following advisors:";
                font-weight: bold;
                position: absolute;
                bottom: 100%;
            }
        }

        @media screen and (max-width: 640px) {
            align-items: center;
            gap: 1rem;
        }

        .advisor {
            display: flex;
            flex-direction: column;
            flex-grow: 0;
            max-width: 150px;
            text-align: center;
            cursor: pointer;
            font-weight: bold;
            color: var(--color-primary);

            &:hover {
                color: var(--color-primary--hover)
            }

            &:active {
                color: var(--color-primary--active)
            }

            div {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .ship {
                    content: "";
                    height: 30px;
                    width: 50px;
                    margin-right: 0.5rem;
                    background-image: var(--img);
                    background-repeat: no-repeat;
                    background-size: contain;

                    .mods {
                        font-size: 1rem;
                        margin-top: 0;
                    }

                    &.corvette {
                        --img: url("https://raw.githubusercontent.com/StuntHacks/usi-wiki/refs/heads/master/png/ships/Ship_Basic.png");
                    }

                    &.frigate {
                        --img: url("https://raw.githubusercontent.com/StuntHacks/usi-wiki/refs/heads/master/png/ships/Ship_Frigate.png");
                    }

                    &.fighters {
                        width: 15px;
                        --img: url("https://raw.githubusercontent.com/StuntHacks/usi-wiki/refs/heads/master/png/ships/Ship_Fighter.png");
                    }

                    &.cruiser {
                        --img: url("https://raw.githubusercontent.com/StuntHacks/usi-wiki/refs/heads/master/png/ships/Ship_Cruiser.png");
                    }

                    &.heavy_cruiser {
                        --img: url("https://raw.githubusercontent.com/StuntHacks/usi-wiki/refs/heads/master/png/ships/Ship_HeavyCruiser.png");
                    }
                }
            }
        }
    }

    #hazard-select {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 600px;

        &:has(input) {
            position: relative;
            margin-top: 1rem;

            &::before {
                content: "Hazard Selection";
                font-weight: bold;
                position: absolute;
                bottom: 100%;
            }
        }

        label {
            display: flex;
            font-size: 1rem;
            position: relative;
            width: 100px;
            justify-content: center;
            user-select: none;

            input:not(#boss-active) {
                position: absolute;
                top: 3px;
                width: 15px;
                margin-left: -4rem;
            }

            #boss-active {
                width: 15px;
                order: -1;
                margin-right: 0.5rem;
            }

            .hazard {
                display: flex;
                flex-direction: column;
                align-items: center;

                span {
                    color: #999;
                    font-size: 0.9rem;
                }
            }
        }
    }

    .fleet-grid {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        flex-direction: row;
        align-self: center;

        .column {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-top: 1.5rem;

            &::before {
                content: attr(data-col);
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                color: rgba(255, 255, 255, 0.6);
            }

            &.ships::before {
                left: 3.5rem;
                width: 100%;
            }

            .slot {
                background-color: #0D3C3E;
                height: 50px;
                width: 100px;
                margin: 0.5rem;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 130%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                &.corvette::before {
                    background-image: url("https://raw.githubusercontent.com/StuntHacks/usi-wiki/refs/heads/master/png/fleet_formations/corvette.png");
                }

                &.frigate::before {
                    background-image: url("https://raw.githubusercontent.com/StuntHacks/usi-wiki/refs/heads/master/png/fleet_formations/frigate.png");
                }

                &.fighters::before {
                    background-image: url("https://raw.githubusercontent.com/StuntHacks/usi-wiki/refs/heads/master/png/fleet_formations/fighters.png");
                }

                &.cruiser::before {
                    background-image: url("https://raw.githubusercontent.com/StuntHacks/usi-wiki/refs/heads/master/png/fleet_formations/cruiser.png");
                }

                &.single_cruiser::before {
                    background-image: url("https://raw.githubusercontent.com/StuntHacks/usi-wiki/refs/heads/master/png/fleet_formations/single_cruiser.png");
                }

                &.heavy_cruiser::before {
                    background-image: url("https://raw.githubusercontent.com/StuntHacks/usi-wiki/refs/heads/master/png/fleet_formations/heavy_cruiser.png");
                }
            }

            &.ships {
                align-items: flex-start;
                flex-shrink: 0;
                flex-grow: 1;
                padding-top: 2.5rem;

                &::before {
                    margin-left: 5rem;
                }

                &:has(.ship) {
                    min-width: 100px;
                    margin-left: 1rem;
                }

                &:not(:has(.ship))::before {
                    display: none;
                }

                @media screen and (max-width: 640px) {
                    width: 100%;
                    order: -1;
                    align-items: center;
                    margin: 0;
                }

                .ship {
                    margin-bottom: 1rem;

                    .title {
                        display: flex;
                        align-items: center;

                        &::after {
                            content: "";
                            height: 30px;
                            width: 100px;
                            margin-left: 1rem;
                            background-image: var(--img);
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }

                    .mods {
                        font-size: 1rem;
                        margin-top: 0;
                    }

                    &.corvette {
                        --img: url("https://raw.githubusercontent.com/StuntHacks/usi-wiki/refs/heads/master/png/ships/Ship_Basic.png");
                    }

                    &.frigate {
                        --img: url("https://raw.githubusercontent.com/StuntHacks/usi-wiki/refs/heads/master/png/ships/Ship_Frigate.png");
                    }

                    &.fighters {
                        --img: url("https://raw.githubusercontent.com/StuntHacks/usi-wiki/refs/heads/master/png/ships/Ship_Fighter.png");
                    }

                    &.cruiser {
                        --img: url("https://raw.githubusercontent.com/StuntHacks/usi-wiki/refs/heads/master/png/ships/Ship_Cruiser.png");
                    }

                    &.heavy_cruiser {
                        --img: url("https://raw.githubusercontent.com/StuntHacks/usi-wiki/refs/heads/master/png/ships/Ship_HeavyCruiser.png");
                    }
                }
            }
        }
    }
}
