#advisor-explorer {
    #galaxy-select {
        display: flex;
        align-items: center;
        gap: 2rem;

        #galaxy-input {
            width: 145px;
            font-size: 1.2rem;
        }

        #stat-input {
            width: 80px;
            text-align: center;
            margin: 0 10px;
        }

        #battle-select {
            width: 65px;
            font-size: 1.2rem;

            option {
                color: #000;

                &.red {
                    background-color: #ff8787;
                }

                &.pink {
                    background-color: #ffbaff;
                }

                &.white {
                    background-color: #ffffff;
                }
            }
        }
    }

    #no-results {
        &.hidden {
            display: none;
        }
    }

    #hazard-select {
        display: flex;
        justify-content: center;
        align-items: center;

        label {
            display: flex;
            font-size: 1rem;
            position: relative;
            width: 100px;
            justify-content: center;
            user-select: none;

            input:not(#boss-active) {
                position: absolute;
                top: 3px;
                width: 15px;
                margin-left: -4rem;
            }

            #boss-active {
                width: 15px;
                order: -1;
                margin-right: 0.5rem;
            }

            .hazard {
                display: flex;
                flex-direction: column;
                align-items: center;

                span {
                    color: #999;
                    font-size: 0.9rem;
                }
            }
        }
    }

    .fleet-grid {
        display: flex;

        .column {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-top: 1.5rem;

            &::before {
                content: attr(data-col);
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                color: rgba(255, 255, 255, 0.6);
            }

            .slot {
                background-color: #0D3C3E;
                height: 50px;
                width: 100px;
                margin: 0.5rem;
            }
        }
    }
}
