#splice-optimizer {
    #total-levels-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;

        @media screen and (max-width: 640px) {
            width: 100%;
        }

        input {
            width: 70px;
            margin: 0 0.5rem;
        }
    }
}
